@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
:root {
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--very-light-gray);
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.main .wrapper {
  width: 550px;
  height: auto;
  text-align: center;
}

.main .wrapper h1, h2 {
  font-size: 35px;
  font-weight: 600;
}

.main .wrapper h2 {
  color: var(--very-dark-blue);
}

.main .wrapper h1 {
  color: var(--grayish-blue);
  font-weight: 200;
}

.main .wrapper p {
  color: var(--grayish-blue);
}

.card {
  width: 350px;
  height: 250px;
  background: #fff;
  box-shadow: 0px 15px 12px -4px rgba(132, 157, 184, 0.62);
  position: relative;
  border-radius: 16px;
}

.card__content {
  margin: 16px;
}

.card h5 {
  font-size: 18px;
  font-weight: 600;
}

.card p {
  color: var(--grayish-blue);
  font-size: 15px;
}

.card__image {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.row .wrapper:nth-child(1) .card {
  border-top: solid 6px var(--cyan);
}

.row .wrapper:nth-child(2) .card:nth-child(1) {
  border-top: solid 6px var(--red);
}

.row .wrapper:nth-child(2) .card:nth-child(2) {
  border-top: solid 6px var(--orange);
}

.row .wrapper:nth-child(3) .card {
  border-top: solid 6px var(--blue);
}

.row {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 28px;
  justify-content: center;
}

.row .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

footer {
  margin-top: 30px;
  text-align: center;
  background: #fff;
}

footer p {
  padding: 16px;
}

@media screen and (max-width: 376px) {
  body {
    padding: 16px;
  }
  .main .wrapper {
    width: 100%;
  }
  .main .wrapper h1, h2 {
    font-size: 25px;
  }
  .row {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
  .card__image {
    width: 50px;
    height: 50px;
  }
}